.data-item {
  margin: 20px;
}

h3 {
  text-align: center;
}

.tasks-item {
  margin-top: 15px;
}

.text-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

input, select, label {
  margin-right: 5px;
}

.active-page{
  color: blue;
  font-weight: bolder;
  
}

.Paginaton {
  display: inline;
  text-decoration: underline;
  text-align: center
}
